.container_01 {
    overflow: hidden;
}

.item_01 {
    float: left;
    margin: 0 3px;
    padding: 10px;
    border: 1px solid rgb(241, 10, 10);
}
.margin_02 {
    margin: 0 auto;
    width: 500px;
}
body {
    width: 500px;
    margin: 10px auto;
}

#middle {
    overflow: hidden;
}

#left {
    float: left;
    width: 150px;
    background: rgb(106, 86, 155);
}

#right {
    float: right;
    width: 350px;
    background: rgb(203, 203, 214);
}

#top {
    background: rgb(16, 215, 16);
}

#bottom {
    background: rgb(176, 152, 176);
}